<form id="voteForm" action="/vote" method="post">
  <label>
    <input type="radio" name="candidate" value="Donald Trump" required>
    Donald Trump
  </label>
  <br>
  <label>
    <input type="radio" name="candidate" value="Joe Biden" required>
    Joe Biden
  </label>
  <br>
  <button type="submit">Submit Vote</button>
</form>
<div id="voteResult"></div>
